body{
    background-image: url(fondo.jpg);
}

 /* ################### inicio taksbar ##############*/
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #f07d11;
    
  }
  
  li a {
    display: block;
    color: white;
    padding: 18px 40px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: #f54c4c;
  }

  /* ################### fin taksbar ##############*/
 
  div {
    margin-bottom: 10px;
  }

.cont-serv {
    display: flex;
   /* background-color: red;*/
    width: 100%;
    height: 700px;
}
 .servicios{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: brown;
    margin: 10px;
    height: 90%;
    width: 90%; 
}
/* ######## inicio estacion de servicio ###########*/
.cont-serv_estacion{
    background-color: darkcyan;
    height: 50%;
    margin: 10px;
}

.cont-txt_serv{
     background-color: darkolivegreen;
     height: 30%;
     margin: 10px;
 }
.cont-btn_serv{
     background-color: aliceblue;
     height: 10%;
     margin: 10px;
}

.img-serv_est{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-serv_est{
    color: blueviolet;
}
.btn-serv_est{
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

}

.btn-serv_est:hover{
    background-color: #b3f3b5;
    color: #f07d11;
}
/* ######## fin estacion de servicio ###########*/

.cont-otro {
    background-color: green;
    width: 100%;
    height: 700px;
    text-align: center;
}

footer{
    background-color: grey;
  }

